<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="OutputHelper" class="com.sh.hello.OutputHelper">
        <property name="outputGenerator" ref="CsvOutputGenerator" />
    </bean>

    <bean id="CsvOutputGenerator" class="com.sh.impl.CsvOutputGenerator" />
    <bean id="JsonOutputGenerator" class="com.sh.impl.JsonOutputGenerator" />
</beans>