<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 此方法是通过set的方式注入对象 -->
    <bean id = "injectionService" class="com.sh.imcdemo.services.impl.InjectionServiceImpl">
        <property name="injectionDao" ref="injectionDao"></property>
    </bean>

    <!-- 此方法是通过构造函数注入对象 -->
    <bean id="injectionServiceC" class="com.sh.imcdemo.services.impl.InjectionServiceImpl">
        <constructor-arg name="injectionDao" ref = "injectionDao"></constructor-arg>
    </bean>
    <bean id="injectionDao" class = "com.sh.imcdemo.dao.impl.InjectionDaoImpl"></bean>

</beans>