<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- singleton作用域 -->
    <bean id="beanScope" class = "com.sh.imcdemo.services.impl.BeanScope" scope="singleton">
    </bean>
    <!-- prototype作用域 -->
    <bean id="beanScope1" class = "com.sh.imcdemo.services.impl.BeanScope" scope="prototype">
    </bean>

</beans>